div#GamePlay div.panel_Map canvas[name='mini_map']{
    position:absolute;
    left:7px;
    top:7px;
    width:130px;
    height:130px;
    background-image: url('../img/Maps/Snapshot.jpg');
}
canvas[name='mini_map'].Switchback {
    background-position: 0 0;
}
canvas[name='mini_map'].Experiment3 {
    background-position: -130px 0;
}
canvas[name='mini_map'].Grass {
    background-position: -520px -130px;
}
