/*Units Protraits*/
div[name="portrait"].Civilian{
    background-position: -900px -56px;
}
/*
div[name="portrait"].Templar{
    background-position: -180px -112px;
}
div[name="portrait"].DarkTemplar{
    background-position: -240px -112px;
}

/*Building Protraits*
div[name="portrait"].ZergBuilding{
    background-position: 0 -168px;
}
div[name="portrait"].TerranBuilding{
    background-position: -780px -56px;
}

*/
/*Mineral
*/

div[name="portrait"].Mineral{
    background-position: -667px -224px;
}
